* {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenHeader {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}

body {
  background-color: #f1f1f1;
}

/* NAVBAR */
nav {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
#imgNav {
  max-width: 100%;
  height: 60px;
  object-fit: cover;
}

/* TABLA */
#containerElementos {
  overflow-x: scroll;
  max-width: 100%;
}
#cuerpoTabla img {
  width: 20px;
  height: auto;
}

/* FOOTER */
footer {
  background-color: #dbdada;
}
#copyrightDiv {
  background-color: #c1c1c1;
}

/* Ajuste imagen NAVBAR */
@media (max-width: 767px) {
  header {
    height: 230px;
  }
}
